@font-face {
  font-family: "Hodeien";
  src: url("./fonts/Hodeien.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hodeien";
  src: url("./fonts/Hodeien-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

* {
  font-size: 16px;
}

body {
  font-family: "Hodeien", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

header {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  z-index: 3;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #555;
}

.linea-header {
  width: 100%;
  height: 1px;
  background-color: #000;
}

main {
  padding-top: 22px;
}

p {
  margin-top: 0;
}
.contenedor {
  display: flex;
  height: calc(100vh - 22px);
  overflow: hidden;
}

.izquierda {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

#mitad-izquierda {
  position: relative;
  width: 50%;
  height: calc(100vh - 22px);
  overflow: hidden;
}

#mitad-izquierda canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.images-wrapper,
#mitad-izquierda p {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.images-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
  justify-content: left;
}

.izquierda img {
  width: 20%;
  margin-bottom: 20px;
  max-height: fit-content;
}

.izquierda p {
  color: #000;
}

.linea-vertical {
  width: 1px;
  background-color: #000;
  height: 100%;
}

.derecha {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.proyecto {
  background-color: #fff;
  text-align: left;
  padding: 10px;
}

.proyecto img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.proyecto h2 {
  color: #000;
  margin: 0 0 5px;
}

.proyecto p {
  color: #000;
  margin: 0;
}

#proyecto1 {
  margin-top: 0;
}

#proyecto2 {
  margin-top: 200px;
}

#proyecto3 {
  margin-top: 0;
}

.button-list-container {
  border-bottom: 1px solid black;
}

.button-list {
  margin: 10px;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  background: white;
  border: 1px solid black;
  font-family: "Hodeien", sans-serif;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

#poem {
  margin-bottom: 5px;
}

.poem-container {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  width: 100vw;
  border: 1px solid black;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 10%;
  left: 10px;
  width: 40%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform: translateY(180%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.modal-header {
  padding: 0 15px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-body {
  padding: 15px;
}

#close-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.tab {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 0 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 1001;
}

.modal.show {
  transform: translateY(0);
}

.tab.show {
  transition: opacity 0.3s step-end;
  opacity: 1;
}

.image-mapper-shape {
  fill: rgba(255, 252, 127, 0.8);
}

g:hover .image-mapper-shape {
  stroke: white;
  stroke-width: 2px;
  opacity: 20%;
}

@media (max-width: 768px) {
  canvas {
    display: none;
  }

  .contenedor {
    flex-direction: column;
    height: 100%;
  }

  .izquierda,
  .derecha {
    width: 100%;
    padding: 12px;
  }

  #mitad-izquierda {
    width: 100%;
    padding: 12px;
    min-height: 100vh;
    overflow: auto;
  }
  header nav ul li {
    margin: 0;
  }

  .derecha {
    display: block;
  }

  .proyecto {
    margin-bottom: 12px;
    padding: 0;
  }
  #proyecto2 {
    margin-top: 12px;
  }
}
